.container {
  margin: 20rem auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px;
  width: 27rem;
  height: 27rem;
}

.card-top {
  padding-bottom: 2rem;
  align-items: center;
}

.card-top img {
  padding: 1rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.card-bottom {
  padding-bottom: 2rem;
  align-items: center;
}
.card-bottom img {
  padding-left: 1rem;
  width: 3rem;
  margin-left: 1.5rem;
}

.button {
  margin-top: 6rem;
}

h5 {
}
