.container {
  background-color: aqua;
  margin: 20rem auto;
  border-radius: 2rem;
  box-shadow: 10px 10px 10px 5px;
  height: 40rem;
}

.mycard {
}
.card-top {
  padding-bottom: 2rem;
  align-items: center;
}

.card-top img {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.card-bottom {
  padding-bottom: 2rem;
  align-items: center;
}
.card-bottom img {
  padding-left: 1rem;
  width: 7rem;
}

.button {
  margin-top: 6rem;
}

h3 {
  text-align: center;
}
